<hr>
    <div class="row">
        <div class="col-lg-6 col-md-12 offset-lg-1">
            <h1><span class="text-dark">The first Heading </span> <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet nec nulla non porta. Sed sed suscipit eros, sed mollis odio. Phasellus ultrices felis quis nunc sodales molestie. Praesent a lacus eu quam molestie egestas. Sed commodo tincidunt arcu. Nulla id lacus urna. In hac habitasse platea dictumst. Donec placerat.</p>
        </div>
        <div class="col-lg-3  col-md-12">
            <img class="rounded-circle img-fluid imageCircle" src="https://i.redd.it/ehjqj4vz7nk41.jpg">
        </div>
    </div>
<hr>