<!-- your html code here -->
<h1>Portfolio</h1>
<div>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit
        libero, a pharetra augue.</p>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="https://fastly.picsum.photos/id/288/700/400.jpg?hmac=zxIcur5kZGv9dx1b-44xFLRaN6pG9n0IZ9_iGCm0DnA"
                class="img-thumbnail" alt="700x400">
            <div style="color: rgb(44, 123, 252);">
                <h2 style="text-align: left;">Project name</h2>
            </div>
            <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col">
            <img src="https://fastly.picsum.photos/id/425/700/400.jpg?hmac=11Vetl2FKzdoHWIv6UeRh7yh5eBb363Egi_IqUxoTv0"
                class="img-thumbnail" alt="700x400">
                <div style="color: rgb(44, 123, 252);">
                    <h2 style="text-align: left;">Project name</h2>
                </div>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>

        </div>
        <div class="col">
            <img src="https://fastly.picsum.photos/id/40/700/400.jpg?hmac=YaJBqS1G0jLelg15poJ2mW5d6ZTGJ4ide1BYh3GLf-8"
                class="img-thumbnail" alt="700x400">
                <div style="color: rgb(44, 123, 252);">
                    <h2 style="text-align: left;">Project name</h2>
                </div>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>